<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    
    <div class="container mt-4 row-cols-3" style="display:flex ; gap:2rem ; flex-wrap: wrap; ">
        <% blogs.forEach((blog) => { %>
            <div class="card col myDiv" style="width: 10rem;   ">
                <img src="<%=blog.coverImageURL %>" class="card-img-top" alt="" style="padding:1rem;">
                <div class="card-body" style=" display: flex; ">
                    <div style="align-self: flex-end; border-top:2px solid black ; width:100% ; padding-top:6px">
                        <h5 class="card-title" style="max-height:4rem; overflow:hidden"><%= blog.title  %></h5>
                        <a href="/blog/<%=blog._id  %>" class="btn btn-primary">view</a>
                    </div>
                </div>
              </div>
        <% }) %>
    </div>
    
    <%- include('./partials/scripts.ejs')%>
</body>
</html>